<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> SpringBoot & AWS S3</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<h1>
    S3 동영상 업로더
</h1>
<div class="col-md-12">
    <div class="col-md-2">
        <form>
            <div class="form-group">
                <label for="video">파일 업로드</label>
                <input type="file" id="video">
            </div>
            <button type="button" class="btn btn-primary" id="btn-save">저장</button>
        </form>
    </div>
</div>


<script>
    $('#btn-save').on('click', uploadImage);

    function uploadImage() {
        var file = $('#video')[0].files[0];
        var formData = new FormData();
        formData.append('data', file);
        let start = new Date();
        $.ajax({
            type: 'POST',
            url: '/video-upload',
            data: formData,
            processData: false,
            contentType: false
        }).done(function (data) {
            $('#result-video').attr("src", data);
            let end = new Date();
            console.log("파일 업로드 하는데 걸린 시간 : "+(end-start)+"ms")
        }).fail(function (error) {
            alert(error);
        })
    }
</script>
</body>
</html>
